<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-lg-3">
                <div class="panel boder bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Đăng Nhập</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="loginForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="username" type="text" name="" id="" placeholder="Tài khoản">
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')" class="text-danger">*Vui lòng nhập tài khoản</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" name="" id="" placeholder="Mật khẩu">
                                    <span (click)="showPass()" class="fas {{eveIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Vui lòng nhập mật khẩu</small>
                            <div class="form-inline fr mt-4">
                                <a id="forget" class="font-weight-bold">Quên mật khẩu?</a>
                            </div>
                            <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w300">Đăng Nhập</button>
                            <div class="text-center pt-4 text-muted">Bạn chưa có tài khoản? <a id="forget" routerLink="/signup">Đăng Ký</a></div>
                            <div class="text-center" routerLink="/navbar">Chuyển</div>
                        </form>
                    </div>
                    <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">
                            <a href="https://www.facebook.com" target="_blank" class="px-2"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png"></a>
                            <a href="https://www.gmail.com" target="_blank" class="px-2"><img src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_256px.png"></a>
                            <a href="https://www.facebook.com" target="_blank" class="px-2"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
